
<div class="form">
  <form (ngSubmit)="save()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email">
    </div>
    <div class="button-form">
      <button type="reset" class="btn btn-secondary">Cancelar</button>
      <button type="submit" class="btn btn-primary ml-1">Salvar</button>
    </div>
  </form>
</div>
